body {
	background-color: #f8f8ff;
}

table {
  margin: 0 auto;
  border: 0.5px solid #ffffff;
}
thead{
	font-size: bold;
}
.gamename{
  text-align: center;
  font-size: 20px;
  background-color: #1990ff;
  color: #ffffff;
  font-size: bold;
  height: 50px;
  width: 270px;
  margin: 0 auto;
  margin-bottom: 5px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}
.notice {
  background-color: #1990ff;
  color: #ffffff;
  height: 50px;
  width: 170px;
  margin: 0 auto;
  margin-bottom: 5px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}
.cell {
  height: 60px;
  width: 60px;
  background-color: #1990ff; 
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.white {
  height: 50px;
  width: 50px;
  background-color: #f8f8ff;
  border-radius: 100px;
}
.red {
  height: 50px;
  width: 50px;
  background-color: #ff0000;
  border-radius: 100px;
}
.yellow {
  height: 50px;
  width: 50px;
  background-color: #ffff00;
  border-radius: 100px;
}